OCEAN__PORT__CLIENT_ID=56FfEh1E26OgtK5TCEJBrWs0vYjcMKi4
OCEAN__PORT__CLIENT_SECRET=kVWYsLGnsGPpUpu7HbwAWEVw36Po0odY4yqcncHPxQfgecpqe2EWhCDLUzkYjoee
OCEAN__INTEGRATION__IDENTIFIER=ocean_github
OCEAN__PORT__BASE_URL=https://api.us.getport.io
OCEAN__EVENT_LISTENER__TYPE=POLLING
OCEAN__INITIALIZE_PORT_RESOURCES=true
